dash==1.21.0
dash-bootstrap-components==0.13.0
dash-core-components==1.17.1
gunicorn==20.1.0
dash-html-components==1.1.4
dash-table==4.12.0
Flask==2.0.1
Flask-Compress==1.10.1
matplotlib==3.4.2
numpy==1.22.0
plotly==5.0.0
pandas==1.2.4
